/*!CK:3820747215!*//*1438197740,*/

div._32ky{font-size:11px;-webkit-font-smoothing:antialiased;left:0;margin:0;text-align:right;width:165px}div._32ky._5xqd{padding-top:12px;position:absolute}div._32ky._5xqe{left:auto;margin-left:-183px;position:fixed;top:56px}html.tinyViewport div._32ky._5xqe{left:auto;margin-left:-183px;position:fixed;top:14px}div._32k_{height:0;width:0}

#bootloader_yYs7L { height: 42px; }
.bootloader_yYs7L { display:block !important; }