/*!CK:336320967!*//*1438093749,*/

._t3m{opacity:.8;position:fixed;right:10px;top:10px;z-index:401}
.sp_gcg6zS2f8Ut{background-image:url(/rsrc.php/v2/yX/r/R_WraEXzOur.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:15px;width:15px}.sp_gcg6zS2f8Ut.sx_74bd22{background-position:0 0}.sp_gcg6zS2f8Ut.sx_cbc6d9{width:14px;height:14px;background-position:0 -16px}

#bootloader_xG4p_ { height: 42px; }
.bootloader_xG4p_ { display:block !important; }