/*!CK:1267907533!*//*1438094069,*/

.sp_Kqby8MpRBTP{background-image:url(/rsrc.php/v2/yk/r/dOw5DoLVhKd.png);background-size:17px 32px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Kqby8MpRBTP.sx_5aeef6{background-position:0 0}.sp_Kqby8MpRBTP.sx_500a49{width:14px;height:14px;background-position:0 -17px}

#bootloader_CKxBA { height: 42px; }
.bootloader_CKxBA { display:block !important; }