/*!CK:3619850767!*//*1438726150,*/

.sp_BKjrFetqsKS{background-image:url(/rsrc.php/v2/yS/r/phw1rYMKXbZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_BKjrFetqsKS.sx_70b7a1{background-position:0 0}.sp_BKjrFetqsKS.sx_a9311c{background-position:0 -17px}.sp_BKjrFetqsKS.sx_026f49{background-position:0 -34px}.sp_BKjrFetqsKS.sx_cac51e{background-position:0 -51px}.sp_BKjrFetqsKS.sx_d1d5de{background-position:0 -68px}.sp_BKjrFetqsKS.sx_a1ec58{background-position:0 -85px}.sp_BKjrFetqsKS.sx_6d6370{background-position:0 -102px}.sp_BKjrFetqsKS.sx_933a7d{background-position:0 -119px}

#bootloader_GgFN1 { height: 42px; }
.bootloader_GgFN1 { display:block !important; }